* {
box-sizing: border-box;
font-family: "Poppins", sans-serif;
}

.fieldset-style {
margin: 10px auto;
max-width: 600px;
background-color: #f2f2f2;
border: 2px solid #222;
padding: 20px;
border-radius: 8px;
}

.text-black {
color: #111;
}

.text-center {
text-align: center;
}

.border-style {
border-style: solid;
border-width: 2px;
}

.border-dark {
border-color: #111;
}
